.env
.env.*
!.env.example
!frontend/.env.local
.gitignore
.cursorignore

__pycache__/
*.egg-info/
.claude/
.cursor/
.vscode/

dlib/
test/
tests/
node_modules/
data/
dist/
build/
planning/
.venv/

*.wav
*.mp3
*.db 
*.bak
*.jpg
