CLAUDE.md
.env
.env.*
!.env.example
!frontend/.env.local


__pycache__/
*.egg-info/
.claude/
.cursor/
.vscode/
.cursorignore
.gitignore

frontend/
test/
tests/
node_modules/
data/
dist/
build/
planning/
.venv/

*.wav
*.mp3
*.db 
*.bak
*.jpg
